## Notebook Datos

In [3]:
import pandas as pd
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import geojson
import geopandas as gpd
from bs4 import BeautifulSoup 
import io
import zipfile
from mpl_toolkits.axes_grid1 import make_axes_locatable

* # Veamos la tabla del torneo nacional de **Futbol** en el 2010 ⚽

In [4]:
url = 'https://es.wikipedia.org/wiki/Primera_Divisi%C3%B3n_de_Chile_2010'
respuesta = requests.get(url).text

soup = BeautifulSoup(respuesta)

In [5]:
info = soup.find('body',{'class':'mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable page-Primera_División_de_Chile_2010 rootpage-Primera_División_de_Chile_2010 skin-vector action-view skin-vector-legacy'})
tabla = info.find('div',{'id':'content'}).find('div',{'id':'mw-content-text'}).find('div',{'class':'mw-parser-output'}).find_all('table',{'class':'wikitable'})[3].find('tbody')
equipos = tabla.find_all('tr')[1::]
aux = []
df = pd.DataFrame(columns=['POS','Equipo','pts','j','g','e','p','gf','gc','dif'])
for rows in equipos:
    columna = rows.find_all('td')
    col = [columna[i].text.strip() for i in range(10)]
    aux.append(col)
df = pd.DataFrame(aux, columns=['POS','Equipo','pts','j','g','e','p','gf','gc','dif'])
df.set_index(['POS'])

                        Equipo pts   j   g   e   p  gf  gc  dif
POS
1.        Universidad Católica  74  34  23   5   6  77  39  +38
2.                 Colo-Colo 1  71  34  22   5   7  67  34  +33
3.              Audax Italiano  65  34  20   5   9  75  58  +17
4.        Universidad de Chile  64  34  20   4  10  75  48  +27
5.              Unión Española  52  34  14  10  10  58  50   +8
6.                  Huachipato  48  34  12  12  10  44  40   +4
7.          Deportes La Serena  45  34  13   6  15  45  59  -14
8.          Santiago Wanderers  45  34  12   9  13  48  52   -4
9.            Unión San Felipe  43  34  12   7  15  38  47   -9
10.                   Cobresal  42  34  12   6  16  47  52   -5
11.                  Palestino  42  34  11   9  14  35  41   -6
12.                  O'Higgins  41  34  10  11  13  46  44   +2
13.                   Ñublense  40  34   9  13  12  54  66  -12
14.                   Cobreloa  39  34  10   9  14  45  47   -2
15.  Universidad de Concepción  38  34   9  11  14  39  50  -11
16.           Santiago Morning  36  34   9   9  16  34  45  -11
17.                    Everton  34  34   8  10  16  38  58  -20
18.                   San Luis  24  34   5   9  20  36  71  -35

In [11]:
soup.find('div',{'class': 'mw-'})